@model Order

<section class="singleOffer">
    <div class="container-sm">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img src="@Model.Car.CarPicture" alt="@Model.Car.CarName @Model.Car.CarModel">
            </div>
            <div class="col-xs-12 col-md-6">
                <span class="h4">ID zamówienia: @Model.OrderId</span>
                <span class="h4">@Model.Car.CarName @Model.Car.CarModel</span>
                <span class="h4">Cena zamówienia: @Model.OrderPrice zł</span>
                <span class="h4">Użytkownik: @Model.User.Email</span>
            </div>
            <a asp-action="Index" style="text-decoration: none; color: white; background-color: #6f42c1; padding: 10px 25px; border-radius: 1rem; margin: 5px auto; width: 120px; text-align: center;"><i class="fas fa-arrow-left"></i> Powrót</a>
        </div>
    </div>
</section>