@model Order

<section class="singleOffer">
    <div class="container-sm">
        <form asp-action="Edit" class="row" style="display: flex; flex-direction: column; align-items: center;">
            <div class="col-xs-12 col-md-8">
                <img src="@Model.Car.CarPicture" alt="@Model.Car.CarName @Model.Car.CarModel">
            </div>
            <div class="col-xs-12 col-md-8" style="display: flex; gap: 5px 2px; flex-direction: column; align-items: center; justify-content: center;">
                <label for="cena" style="width: fit-content;">Cena Zamówienia</label>
                <input asp-for="@Model.OrderPrice" id="cena" placeholder="Cena Zamówienia" style="width: 100%; padding: 5px; border-radius: 1rem; font-size: 20px; max-width: 400px;"/>
                <label for="auto" style="width: fit-content;">ID Auta</label>
                <input asp-for="@Model.CarId" id="auto" placeholder="ID Auta" style="width: 100%; padding: 5px; border-radius: 1rem; font-size: 20px; max-width: 400px;"/>
                <label for="user" style="width: fit-content;">ID Użytkownika</label>
                <input asp-for="@Model.UserId" id="user" placeholder="ID Użytkownika" style="width: 100%; padding: 5px; border-radius: 1rem; font-size: 20px; max-width: 400px;"/>
            </div>
            <button type="submit" value="Update" style="padding: 10px 25px; border-radius: 1rem; background-color: #2ecc71; border-color: #2ecc71;">Zapisz zmiany <i class="fas fa-save"></i></button> 
            <a asp-action="Index" style="text-decoration: none; color: white; background-color: #6f42c1; padding: 10px 25px; border-radius: 1rem; margin: 5px auto; width: 120px; text-align: center;"><i class="fas fa-arrow-left"></i> Powrót</a>
        </form>
    </div>
</section>