@model IEnumerable<Order>

@{
    ViewData["Title"] = "List of Orders";
}

<section class="row">
    <div class="col-xs-12 col-md-10" style=" display: flex; gap: 15px; flex-direction: column; margin: 15px auto;">
        @foreach (var item in Model)
        {
            <div style="border: 1px solid black; border-radius: 1rem; text-align:center; color: black; display: flex; align-items: center; flex-direction: row; flex-wrap: wrap;" class="middle-md">
                <p class="col-xs-12 col-sm-1">@item.OrderId</p>
                <p class="col-xs-12 col-sm-2">@item.OrderPrice zł</p>
                <p class="col-xs-12 col-sm-2">@item.Car.CarName @item.Car.CarModel</p>
                <p class="col-xs-12 col-sm-3">@item.User.Email</p>
                <div class="col-xs-12 col-sm-4" style=" display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center;">
                    <a asp-action="Edit" asp-route-id="@item.OrderId" style="text-decoration: none; color: white; background-color: #2980b9; padding: 10px 25px; border-radius: 1rem; margin: 5px; width: 120px; text-align:center;">Edytuj <i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.OrderId" style="text-decoration: none; color: white; background-color: #6f42c1; padding: 10px 25px; border-radius: 1rem; margin: 5px; width: 120px; text-align: center;">Szczegóły <i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.OrderId" style="text-decoration: none; color: white; background-color: #e74c3c; padding: 10px 25px; border-radius: 1rem; margin: 5px; width: 120px; text-align: center;">Usuń <i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        }
    </div>
</section>
